In [1]:
import pandas as pd
import numpy as np

In [2]:
CSV_DATA="s_modexp_250105.txt"

In [3]:
columns=["block","transaction","base_len","exp_len","mod_len"]

In [4]:
df = pd.read_csv(CSV_DATA, names=columns)

# MODEXP Calls Analysis

The following dataset contains the log of all calls to `MODEXP` opcode, since introduced in the Byzantium Hard Fork.

First `MODEXP` call found at block `5472266` (April 20, 2018), until the end of the tracing at block `21550926` (January 4th, 2025):

In [5]:
df

,block,transaction,base_len,exp_len,mod_len
0,5472266,0xd6a33837bd441e4639f8fef24ce4f5502aca7e33c31f...,0.0,0.0,0.0
1,6153833,0xb5d873f01c0d14de16207c5cf2d63a85b6fd6b8b05b2...,0.0,0.0,0.0
2,6245529,0x76354bbec0a2efe1fabbd479b215c8ac0db0b65e092e...,128.0,3.0,128.0
3,6245529,0x76354bbec0a2efe1fabbd479b215c8ac0db0b65e092e...,256.0,3.0,256.0
4,6245933,0xc9e90e8eb6d5252afc134c65dca7cbbde61de7fcb99f...,128.0,3.0,128.0
...,...,...,...,...,...
2447233,21550909,0x18cec987ba6e44a721f17aa8c9874825e1ca01530b76...,32.0,32.0,32.0
2447234,21550913,0x06257445e61531c77e512436620445124ae0dcc955db...,32.0,32.0,32.0
2447235,21550922,0x501681652742008067d92baeebfc1a5712c03ae752e9...,32.0,32.0,32.0
2447236,21550923,0xaf04dfab7a512a4b2d36475f987fa9255c3adcfe9d67...,32.0,32.0,32.0
2447237,21550926,0x9d20503f9138fb20d08805114181ade1237b6d3b582a...,32.0,32.0,32.0

## Base Length

The following table shows the different base length were used during `MODEXP` call:

In [6]:
bl_data = df[df['base_len'] > 0]
bl_data = bl_data['base_len'].unique()
pd.DataFrame(np.sort(bl_data), columns=['base_len'])

   base_len
0      32.0
1      64.0
2      78.0
3     128.0
4     129.0
5     160.0
6     256.0
7     385.0
8     512.0
9     513.0

## Exponent Length 

Different Exponent Lengths used during `MODEXP` calls:

In [7]:
el_data = df[df['exp_len']>0]
el_data = el_data['exp_len'].unique()
pd.DataFrame(np.sort(el_data), columns=['exp_len'])

   exp_len
0      1.0
1      3.0
2      5.0
3     32.0
4    128.0

## Modulo length

Different Modulo lengths used during `MODEXP` calls:

In [8]:
ml_data = df[df['mod_len']>0]
ml_data = ml_data['mod_len'].unique()
pd.DataFrame(np.sort(ml_data), columns=['mod_len'])

   mod_len
0     32.0
1     64.0
2     78.0
3    128.0
4    129.0
5    160.0
6    256.0
7    257.0
8    384.0
9    512.0