In [1]:
import pandas as pd
import numpy as np

In [2]:
CSV_DATA="s_modexp_250105.txt"

In [3]:
columns=["block","transaction","base_len","exp_len","mod_len"]

In [4]:
df = pd.read_csv(CSV_DATA, names=columns)

# MODEXP Calls Analysis

The following dataset contains the log of all calls to `MODEXP` opcode, since introduced in the Byzantium Hard Fork.

First `MODEXP` call found at block `5472266` (April 20, 2018), until the end of the tracing at block `21550926` (January 4th, 2025):

In [5]:
df

,block,transaction,base_len,exp_len,mod_len
0,5472266,0xd6a33837bd441e4639f8fef24ce4f5502aca7e33c31f...,0.0,0.0,0.0
1,6153833,0xb5d873f01c0d14de16207c5cf2d63a85b6fd6b8b05b2...,0.0,0.0,0.0
2,6245529,0x76354bbec0a2efe1fabbd479b215c8ac0db0b65e092e...,128.0,3.0,128.0
3,6245529,0x76354bbec0a2efe1fabbd479b215c8ac0db0b65e092e...,256.0,3.0,256.0
4,6245933,0xc9e90e8eb6d5252afc134c65dca7cbbde61de7fcb99f...,128.0,3.0,128.0
...,...,...,...,...,...
2447233,21550909,0x18cec987ba6e44a721f17aa8c9874825e1ca01530b76...,32.0,32.0,32.0
2447234,21550913,0x06257445e61531c77e512436620445124ae0dcc955db...,32.0,32.0,32.0
2447235,21550922,0x501681652742008067d92baeebfc1a5712c03ae752e9...,32.0,32.0,32.0
2447236,21550923,0xaf04dfab7a512a4b2d36475f987fa9255c3adcfe9d67...,32.0,32.0,32.0
2447237,21550926,0x9d20503f9138fb20d08805114181ade1237b6d3b582a...,32.0,32.0,32.0

## Base Length

The following table shows the different base length were used during `MODEXP` call:

In [6]:
bl_data = df[df['base_len'] > 0]
bl_data = bl_data['base_len'].unique()
pd.DataFrame(np.sort(bl_data), columns=['base_len'])

   base_len
0      32.0
1      64.0
2      78.0
3     128.0
4     129.0
5     160.0
6     256.0
7     385.0
8     512.0
9     513.0

## Exponent Length 

Different Exponent Lengths used during `MODEXP` calls:

In [7]:
el_data = df[df['exp_len']>0]
el_data = el_data['exp_len'].unique()
pd.DataFrame(np.sort(el_data), columns=['exp_len'])

   exp_len
0      1.0
1      3.0
2      5.0
3     32.0
4    128.0

## Modulo length

Different Modulo lengths used during `MODEXP` calls:

In [8]:
ml_data = df[df['mod_len']>0]
ml_data = ml_data['mod_len'].unique()
pd.DataFrame(np.sort(ml_data), columns=['mod_len'])

   mod_len
0     32.0
1     64.0
2     78.0
3    128.0
4    129.0
5    160.0
6    256.0
7    257.0
8    384.0
9    512.0

In [9]:
df[df['base_len'] == 0].shape[0]

13

In [10]:
df[df['exp_len'] == 0].shape[0]

13

In [11]:
df[df['mod_len'] == 0].shape[0]

13

In [12]:
pd.set_option('display.max_colwidth', None)
df[df['base_len'] == 0]
#zdf['transaction']

,block,transaction,base_len,exp_len,mod_len
0,5472266,0xd6a33837bd441e4639f8fef24ce4f5502aca7e33c31fba9111591c59fddc8d82,0.0,0.0,0.0
1,6153833,0xb5d873f01c0d14de16207c5cf2d63a85b6fd6b8b05b24e91b323555b6a937ce0,0.0,0.0,0.0
325,7079353,0x6ba23e2a123986d34738c5a0862343dc88bdc87c58789a70b6772b6ec027b66f,0.0,0.0,0.0
326,7085562,0x827a83598615b35e4fb7e8a39ef5732e7e9478b4b7bc5dfdc744b687d83a09a9,0.0,0.0,0.0
329,7090968,0x03b6d4f4dfa9819298309b28c93689fdd72d3dcd4a63cda48afe258a33f20342,0.0,0.0,0.0
330,7096725,0x65e0f9b12d6ee8224769ff4c67ffa55c05497cae3da0a18c3eae4a58b7240500,0.0,0.0,0.0
331,7101746,0x255466bea2f427cad2885700118bd07d23a82de6f70fde3aaa7d6d18b58be736,0.0,0.0,0.0
332,7106848,0xf59ef1f04a6e8aa2741800cb69414369bb49ea7c656030a3f6ec144014235350,0.0,0.0,0.0
333,7111741,0xf7e86d356264cb0b9ce6774dffb7ebd914ec89e554688f50efc34fa911520f52,0.0,0.0,0.0
334,7116755,0x074a44046c520138688448787c791a4e21904bf656b0631cd724c00ffa2e4fa5,0.0,0.0,0.0
341,7123394,0x6d692a978280c68fa13d81a7272bf3cc5c31a7e359ffa168f5c3c0199017c669,0.0,0.0,0.0
342,7128576,0x91b428107f3b61a510374f0b233523aa682d6500f3063c992b511055012ae4ba,0.0,0.0,0.0
1237027,18337867,0x08e48d9d8d896b68ae48e58c92352f5bae6b50ddf4c77d33fe05d908dcf3b6c6,0.0,0.0,0.0

In [13]:
df[df['transaction'] == "0x5a04c23e63d88e1b1744ae87f244f968183d793479eccaca458c911b8c788aaa"]

,block,transaction,base_len,exp_len,mod_len
26,6259749,0x5a04c23e63d88e1b1744ae87f244f968183d793479eccaca458c911b8c788aaa,NaN,NaN,NaN

In [14]:
df[df.isna().any(axis=1)].shape[0]

58

## Transactions with non-determined MODEXP inputs

During the trace it was not possible to collect the inputs to the MODEXP precompile

In [15]:
df[df.isna().any(axis=1)]

,block,transaction,base_len,exp_len,mod_len
26,6259749,0x5a04c23e63d88e1b1744ae87f244f968183d793479eccaca458c911b8c788aaa,NaN,NaN,NaN
27,6259751,0x977ca42c46ea159a4a4cfa1c031fcf8d119c56dc106efbdf7657735911e477ba,NaN,NaN,NaN
1035,10001531,0x29a21425f32ee9d57933614230ba3ae4f652b5b854502c636abb17d6bce268a2,NaN,NaN,NaN
1036,10001534,0x30c28ffcee35438cbdbf1d6efe0ece5b6f739a3af72c9ca1cd860806d7a11afe,NaN,NaN,NaN
1037,10001603,0x6b834d59b30cff083b8ebe0bdf402b20ecbf05cb8308f62896539bed0d4ff173,NaN,NaN,NaN
1044,10160488,0x391016ea2cf763c6a7fbbb16d0d11741400e88c45291c9287ea3d609cad0242b,NaN,NaN,NaN
21353,11623816,0x54d30bb3ca0d5da15b40beb5f18db23f6805e509d34bd08f779129aaf0889478,NaN,NaN,NaN
40647,12151402,0x53a30a17342bf02c6943fcebee060f7ae8780bd8c4f5729a5f9e39f5cd9239e8,NaN,NaN,NaN
41842,12172502,0xb20f623ae2be2d27a678d85896caa0e0ef09d322a1cca65906ead44f4298866e,NaN,NaN,NaN
163011,13099930,0xd65ead72df24ab039a2c2b674672b7b9351277431df4bcbe41598e7ed63e1372,NaN,NaN,NaN
172609,13161896,0x058807527cf0386b68c0a60793cd2e656e123bf325ddf0728eb26dbd5dd843bb,NaN,NaN,NaN
172792,13164459,0xf088e54ec7b43b899e8e3ee31e3dfc29ea4817a12111049d28a72d37782684c6,NaN,NaN,NaN
174926,13184121,0x7d168cbbfc4b240361f3810321cc74aed58fcc002107b74cf7011276b8a5449b,NaN,NaN,NaN
182115,13224456,0x964b2cafd565434d65a0cd5c11c31dad0f5d53aa24219afaa47968778ae5e025,NaN,NaN,NaN
182119,13224466,0x2914bf385180677c7f2fd8ca90e37cbe67d37463bee99e7d0b6cea1f5f235e6e,NaN,NaN,NaN
182120,13224470,0x053b42ec2cba7b2f5fe9598c2c09fbe60485bf075ba3d3e943090305adb77cbd,NaN,NaN,NaN
182121,13224484,0xdf4476216e551f1e1821b1346ea066aa288b69a16b48a22aa5543a7c6993d3a7,NaN,NaN,NaN
184779,13242474,0x74449a762007a0878bbfc70ca8a1291a6c57a148fd844201ef5ddc741df0465a,NaN,NaN,NaN
188092,13262546,0xf0e8d22b27b47c56c9865e741c89b115bbd7306888ee95c60d097c7c49b4a92a,NaN,NaN,NaN
191394,13275081,0xdcc86c3cc7fe3d18a28cc4cf25399580581dd56ee0a954574243356312c26a4c,NaN,NaN,NaN
191532,13275741,0x27dfc78cc4c30c4cecbe8c8a825ac14c921c0c3d2e45fc8856244139f25e58de,NaN,NaN,NaN
193768,13289267,0x1e61872617149b914c66b02e9abfd2151be1ed4419e71bd73e8342ed9e2a71ef,NaN,NaN,NaN
195994,13301933,0x786a134a5ea5ea6840a37e7b8418e3bed3618c5c405780c87031577691df4572,NaN,NaN,NaN
196144,13302581,0x31da9abab2a9182849371c2723d9dac5d10864d1403cef68604ce97fa65d1c7f,NaN,NaN,NaN
196491,13304387,0xfe1ad3475d556c938dccbe6a3bd2e7b285be60aa9c87d8023aac01e524de2f4a,NaN,NaN,NaN
205238,13342577,0x00b21b41c24bccf2bc0fd0fea214fd115c3ff639e0951c41a3fedcd7fb3b8f96,NaN,NaN,NaN
206070,13344551,0x44735ab0bd60dc4cf74dbcfb03a7cfd229f2724bd9ab2ac39bffd9fb169c3aa9,NaN,NaN,NaN
208517,13352647,0x44729b808ea8391f677b85fac1f5a337449f2b39a79020b39c3e60944bde1c1f,NaN,NaN,NaN
210005,13360337,0x693bd448ebf73413654d6b0f46c01c346d19bf930fa69be6cb24ec082f25edf3,NaN,NaN,NaN
211902,13367245,0xafd5956ccaebb14a9dc302118eb26661745cc2d0fc4ca5a9ac2f48d2ed3f9129,NaN,NaN,NaN
212748,13368826,0x32b1ad38ec8b1ba36706c988bb181d4ddf957ec0ffb931fd25c9d6d8579b8eeb,NaN,NaN,NaN
216227,13384019,0x340c73ff9eb2edad6b29534103b76248a5cdcab363410864826c7859ba6c99d9,NaN,NaN,NaN
219657,13398347,0xa46b61b6c80e61c8be53854083c78081f96e722548b90234e07573abed991394,NaN,NaN,NaN
224139,13422946,0xa16a7d587ca1a423a4231ab5b7442c231c7e1c3d3994f4113f22ab604ad26b11,NaN,NaN,NaN
227678,13445338,0xa2cf8ccca39b07792a3dc9be89c8f37132efdaf0a6c55fe80f026dc786d5ccf2,NaN,NaN,NaN
229029,13453495,0x87610cab785562df58e2730610b1500ece9c5e02d38cb41eecf97c9e2d2dc2b1,NaN,NaN,NaN
236866,13494088,0x7d355eb1c215b966fb2c78ff4c5b35242fdec499e4956ca06f4d57238e5c9978,NaN,NaN,NaN
242172,13530499,0x686e4a18efbbe02ea774cd173ceb46107c6d5e55259d64925cc2d2d1f0530c40,NaN,NaN,NaN
242367,13531651,0x73adc2af5fccd00b8a9cc97676a290658ff16d09cc274eb82b58bb18946ec211,NaN,NaN,NaN
243469,13537573,0xa7e6a0821017a945c9672a405f608dde5e7696a34762dedd9fbdcc835d7d9bf1,NaN,NaN,NaN
244644,13539963,0xcfedf8701b288751b40688635aa9c94a33e672212ce5c66773f42f4e02b14791,NaN,NaN,NaN
247559,13558143,0x383a2c03ce742f49f75f788ae82d6347d6467aac11ffde877baf0f3eb4c132c9,NaN,NaN,NaN
252926,13593931,0x86386a426e81272eada38ebcb82d410117dbeb5a70c5baec22c44388ee932731,NaN,NaN,NaN
256444,13620420,0xabe22176c2b74ab42f1c10065cfba5c7f94ac37849bf5fe7103001989640d154,NaN,NaN,NaN
256620,13621560,0x2c178fe0490f643feb2653f56d0ef90ef973c70c61273ac8c7abdf945cd1d47e,NaN,NaN,NaN
281877,13733243,0x91ccf58a5115d537ed72ebf179335c578ece78795eb415cb306bd271261eb70d,NaN,NaN,NaN
282862,13739092,0x5c8d7c94f388bbe2a9deec5e742194cf2a00ed387804bd6321a49eb745b765a6,NaN,NaN,NaN
334813,14141410,0x3e5666f7b97209c0e33f1e2c6ab4b0b8a6734565d608aa240ab30b90505872ab,NaN,NaN,NaN
414793,14726199,0x8d77225a229ab3acd8c47235bfbf60d61f0e09017c0e85e08af07cc6ac186423,NaN,NaN,NaN
534102,15575505,0x7ca77eec3d0bdf83bf76cb0b8e0c5efa3d184dc19ab8b49a6204e96184fac6f6,NaN,NaN,NaN
535092,15582983,0x1202de060c663f6633fdcb17cd378508c85a0803ce693da25e1d5c1a8f5d976c,NaN,NaN,NaN
636407,16556566,0x59949d77bdbd7583727354d109e2e85cd290ca993613f2b613f285bc65cb12bd,NaN,NaN,NaN
641194,16600443,0x8ef67650ff7c5b7e927e7b1220d4c706ec35bfc51dcb9fdc0b8b5b306a36e3a0,NaN,NaN,NaN
750679,17264882,0x1a28c0efc4053447587259cf3f24bb4277339046d9a5bc9e9dbf90e66916eb5e,NaN,NaN,NaN
757526,17289643,0xe1d5702e4d32becebfd4e43abe56c4dfeb26ebc8fa9e42b756318a589f20908d,NaN,NaN,NaN
823848,17541367,0x61bf8e3bce78f3c51cd23ca1b5edbd2a309041754c8178dba97682f671e026c5,NaN,NaN,NaN
823851,17541380,0xc42aa446112c9c3aab83bc01f9c583f49b8ab24e939f350cce7b7fe96be872fd,NaN,NaN,NaN
824157,17542480,0xfe1715c9a6b338f9d85646c0585e88dc1d07b97d55d9c81e2011fedb4a3fb599,NaN,NaN,NaN

## Transactions with direct call to MODEXP Precompile

- [0x391016ea2cf763c6a7fbbb16d0d11741400e88c45291c9287ea3d609cad0242b](https://etherscan.io/tx/0x391016ea2cf763c6a7fbbb16d0d11741400e88c45291c9287ea3d609cad0242b) is a direct call to the MODEXP precompile containing the input:


```
0x9e281a98000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000021e19e0c9bab2400000
```

If we split the input into values of 32 bytes we have:

```
9e281a9800000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000021e19e0c9ba
b2400000
```

Which does not correspond to a valid MODEXP input.

- [0x964b2cafd565434d65a0cd5c11c31dad0f5d53aa24219afaa47968778ae5e025](https://etherscan.io/tx/0x964b2cafd565434d65a0cd5c11c31dad0f5d53aa24219afaa47968778ae5e025): Empty input
- [0x2914bf385180677c7f2fd8ca90e37cbe67d37463bee99e7d0b6cea1f5f235e6e](https://etherscan.io/tx/0x2914bf385180677c7f2fd8ca90e37cbe67d37463bee99e7d0b6cea1f5f235e6e): Empty input
- [0x053b42ec2cba7b2f5fe9598c2c09fbe60485bf075ba3d3e943090305adb77cbd](https://etherscan.io/tx/0x053b42ec2cba7b2f5fe9598c2c09fbe60485bf075ba3d3e943090305adb77cbd): Empty input
- [0xdf4476216e551f1e1821b1346ea066aa288b69a16b48a22aa5543a7c6993d3a7](https://etherscan.io/tx/0xdf4476216e551f1e1821b1346ea066aa288b69a16b48a22aa5543a7c6993d3a7): Empty input
- [0x1202de060c663f6633fdcb17cd378508c85a0803ce693da25e1d5c1a8f5d976c](https://etherscan.io/tx/0x1202de060c663f6633fdcb17cd378508c85a0803ce693da25e1d5c1a8f5d976c): Empty input
- [0x61bf8e3bce78f3c51cd23ca1b5edbd2a309041754c8178dba97682f671e026c5](https://etherscan.io/tx/0x61bf8e3bce78f3c51cd23ca1b5edbd2a309041754c8178dba97682f671e026c5): Input: `0x9e5faafc`
- [0xc42aa446112c9c3aab83bc01f9c583f49b8ab24e939f350cce7b7fe96be872fd](https://etherscan.io/tx/0xc42aa446112c9c3aab83bc01f9c583f49b8ab24e939f350cce7b7fe96be872fd): Input: `0x9e5faafc`
- [0xfe1715c9a6b338f9d85646c0585e88dc1d07b97d55d9c81e2011fedb4a3fb599](https://etherscan.io/tx/0xfe1715c9a6b338f9d85646c0585e88dc1d07b97d55d9c81e2011fedb4a3fb599): Input: `0x85474728`